html,body {
    overflow: hidden;
    margin: 0 auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 5;
}

.video-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    color: white;
}

.Login label {
    display: flex;
}

.Login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 460px;
    color: white;
    padding: 40px;
    border-radius: 20px;
    padding-bottom: 80px;
    backdrop-filter: blur(10px);
    border: 1px solid white;
    font-weight: 500;
    overflow: hidden;
    transition: height 0.1s, width 0.1s, border-color 0.7s;
}


.Login form:hover {
    height: 530px;
    width: 320px;
    border: 1px solid rgb(93 24 220);
    box-shadow: 0px 0px 40px 1px rgb(93 24 220);
}

.Login form:hover p {
    padding-left: 30px;
}

.Login form:hover .error {
    display: block; 
}

.Login form:hover .FormInput input {
    border: 1px solid rgb(93 24 220);
}

.Login button {
    text-align: center;
    background-color: hsl(261deg 80% 48%);
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 270px;
    height: 40px;
    cursor: pointer;
    border: none;
    transition: transform 0.5s ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    margin-top: 5px;
}

.Login a {
    margin-top: 10px;
    border: 1px solid white;
    border-radius: 5px;
    transition: transform 0.1s ease;
    color: white;
    font-weight: 300;
    text-align: center;
    width: 270px;
    height: 25px;
    padding-top: 10px;
    text-decoration: none;
}
a:hover {
    transform: translateY(-1px);
    border: 1px solid #89ffc6;
    box-shadow: 0px 0px 40px 1px rgba(0, 255, 117, 0.30);
}

button:hover {
    transform: translateY(-1px);
    background-color: hsl(261deg 80% 48%);
    color: white;
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
  }

.FormInput {
    margin-bottom: 10px;
    padding: 5px 0 5px;
    font-weight: 300;
    text-align: center;
    width: 340px;
    display: block;
    justify-content: center;
    
    
  }

  .FormInput input {
    height: 35px;
    width: 270px;
    background-color: white;
    border: none;
    font-weight: 5000;
    border-radius: 5px;
    padding: 5px;
    transition: transform 0.3s ease;
    font-weight: 300;
    text-align: left;
    margin-right: 2px;
    font-size: 16px;
  }

  .FormInput h1 {
    text-align: left;
    padding-left: 30px;
    display: block;
  }

  .Login form:hover h1 {
    font-size: 38px;
    padding-left: 30px;
    
}
  
  .FormInput p {
    text-align: left;
    display: block;
    padding-left: 30px;
    padding-bottom: 20px;
  }


input:hover {
    transform: translateY(-1px);
    border: 1px solid #89ffc6;
}

.Login form .error {
    display: none; 
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: red;
    margin-top: 30px;
    padding: 5px;
}

.bxs-user-pin {
    font-size: 20px;
    padding-top: 10px;;
    justify-content: center;
    text-align: center;
    max-width: 0px;
}
.bxs-lock-alt {
    font-size: 20px;
    padding-top: 10px;;
    justify-content: center;
    text-align: center;
    max-width: 0px;
}
